@import 'angular-toastr';
@import '_landing';
@import '_sidebar';
@import '_releases';
.active {
    color: white;
    background-color: blue;
}

.inactive {
    background-color: blue;
}

//--------------------------------
//Global Colors
//--------------------------------
$sidebar-color: #181818;
$main-color: #282828;
$spot-green: #7ED321;
$off-white: #9B9B9B;
html,
body {
    height: 100%;
    overflow: hidden;
}